# build output
dist/
# generated types
.astro/
.wrangler/
.drizzle/
drizzle/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production
.dev.vars

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
drizzle/0000_mean_king_bedlam.sql
drizzle/meta/_journal.json
drizzle/meta/0000_snapshot.json
drizzle/0000_secret_pyro.sql