---
import VueCompo from "../components/VueCompo.vue";
import { SignIn, SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<div>
			<SignIn provider="github">SignIn</SignIn>
			<SignOut>SignOut</SignOut>
			<div>
				{
					session ? (
						<p>Welcome {session.user?.name}</p>
					) : (
						<p>Not logged in</p>
					)
				}
			</div>
		</div>
		<VueCompo client:load />
	</body>
</html>
